#polar-header {
    position: sticky;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    height: 20px;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
    overflow: hidden;
    z-index: 99;
    /* padding: 10px; */
}

progress {
    width: calc(100% - 10px);
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

#viewer {
    margin-bottom: 5px;
}

.text-highlight {
}
