/*#secondaryToolbarButtonContainer > .polar-fa-button {*/
    /*font-size: 25px;*/
/*}*/

/*#secondaryToolbarButtonContainer > .polar-fa-button span {*/
    /*font-size: 12px;*/
/*}*/

#polar-header {
    position: sticky;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    height: 15px;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
    overflow: hidden;
    z-index: 99;
    padding: 10px;
}

#polar-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    color: white;
    height: 20px;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 50px hsla(0,0%,0%,.1);

    border-top: 1px solid black;
    overflow: hidden;
    z-index: 99;
    /* padding: 10px; */
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

#polar-header progress {
    position: absolute;;
    left: 5px;
    width: calc(100% - 25px);
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.polar-dropdown {
    position: absolute;
    top: 3px;
    right: 15px;
}

#viewer {
    margin-bottom: 5px;
}

.text-highlight {
}

/**
 * We have to disable the PDF.js file upload button now.  It doesn't work when
 * being served via file URLs. It's not that big of a deal either way.
 */
#openFile {
    display: none;
}


#polarCreatePagemarksAcrossPages:before {

    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f055";
    padding: 2px;
    font-size: 13px;

}



